.cover__title {
  width: 560px;
  margin: 0 auto;
  margin-bottom: 32px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;

  color: #ffffff;

  @media (max-width: 768px) {
    width: auto;
    margin-top: 33px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;

    font-size: 32px;
    line-height: 35px;
  }
}
