.cover__title {
  position: absolute;
  width: 560px;
  left: 312px;
  top: 245px;
  bottom: 343px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;

  color: #ffffff;
}
