.cover__subtitle {
  margin: 0 auto;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;

  @media (min-width: 768px) {
    width: 360px;
  }

  @media (max-width: 768px) {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 33px;

    font-size: 14px;
    line-height: 16px;
  }
}
