.intro__list {
  height: 90px;
  margin-top: 33px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;

  color: #ffffff;

  @media (min-width: 320px) and (max-width: 768px) {
    margin-top: 34px;
  }
}
