.place__body {
  display: flex;
  columns: 2;
  gap: 40px;

  @media (min-width: 1024px) and (max-width: 1280px) {
    gap: 32px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    gap: 28px;
  }

  @media (max-width: 768px) {
    display: block;
    gap: 0;
    columns: 1;
  }
}
