.header__lang-link {
  position: absolute;
  width: 30px;
  height: 28px;
  right: 94px;
  top: 46px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
  text-decoration-line: underline;

  color: #ffffff;
}
